html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: "Open Sans", serif;
}

.align-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



table {
    width: 50%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.containers-checkboxes {
    padding-bottom: 50px;
    border-bottom: 2px solid #555;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: white;
}

.postions-block.hide,
.flexBoxes-block.hide {
    display: none;
}


/* Code for Postion-Boxes */



.positions-container {
    border: 1px solid #555;
    min-width: 65%;
    max-width: 80%;
    /* position: relative; */
    height: 300vh;
}

.positions-container .item {
    width: 250px;
    padding: 0px 100px;
    line-height: 100px;
    border: 1px solid red;
    margin: 20px auto;
    text-align: center;
}

.positions-container h3:nth-child(odd) {
    color: orangered;
}

.positions-container h3:nth-child(even) {
    color: darkblue;
}

.static {
    position: static;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
    background-color: blanchedalmond;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 100px;
    left: 100px;
    z-index: 100;
}

.p-absolute {
    background-color: aliceblue;
}

.relative {
    position: relative;
    top: -20px;
    left: 320px;
}

.p-relative {
    background-color: aliceblue;
}

.fixed {
    position: fixed;
    background-color: beige;
    right: 0px;
    bottom: 0px;
}


.sticky {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.static-description {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.spacing-block {
    height: 200vh;
}


.show-postions {
    display: none;
}




/* Code for Flex-Boxes */



.flex-container .align-center:nth-child(even) {
    background-color: #f9fbf1;
}

/* Flex-shrink */


.first-container, .second-container, .third-container {
    display: flex;
    width: 50%;
    border: 1px solid #5554;
    margin: auto;
    /* flex-wrap: wrap; */
}

.first-container .item {
    width: 150px;
    height: 100px;
    background-color: coral;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    flex-shrink: 0;
}

.first-container .item-1 {
    flex-shrink: 1 !important;
}

.first-container .item-3 {
    flex-shrink: 2 !important;
}


/* Flex-grow */

.second-container .item {
    width: 150px;
    height: 100px;
    background-color: coral;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}

.second-container .item-1{
    flex-grow: 2;
}


.second-container .item-2{
    flex-grow: 1;
}


/* Flex-basis */

.third-container .item {
    width: 150px;
    height: 100px;
    background-color: coral;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}